<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h3>Customer Name :  <span th:text="${customerName}"/></h3>
    <h3>Account Number :<span th:text="${accountNumber}"/></h3>
    <h3>User Name :<span th:text="${username}"/></h3>
    <h3>Branch : <span th:text="${branch}"/></h3>
    <h3>Phone Number :<span th:text="${phoneNumber}"/></h3>

</div>
</body>
</html>