body{

/*background-color: #004170;*/
margin: 0;
padding: 0;
box-sizing: border-box;
background-image:url("./images/theatre2.jpg");
background-size:100%;
image-height:100%;
image-width:100%;

}

/* second css*/

#navbarcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.navimg {
  margin: 4%;
  width: 100%;
  height: 45px;

}

.nav-item a{
    color: white !important;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
   display: inline-block;
   line-height: 80px;
}
h2{
color:white;
}
.nav-item a:hover {
 color:#FBAB7E;
}
td{
font-family: "Raleway", sans-serif;
color:white;
}
#container1{
padding: 35px 50px;
}
#movieNames{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color:white;
}
.card{
height:100%;

}
.card img{
height:240px;
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
flex-direction:row;
}
#button{
background-color:transparent;
border:1px solid red;
border-radius:5px;
}
