body{
box-sizing:border-box;
/*background-color: #004170;*/
background-image:url("./images/bgpic.jpg");
background-size:100%;
}
.nav-item a:hover{
      color:cornflowerblue !important;
}

.navimg
{
    width: 100%;
    height: 45px;
}
.nav-item a{
    font-size: 18px;
    font-weight: 500;
     color: #004170 !important;

}
h2{
    color:white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;

}
#formcontainer{
    border: 1px solid #ebedef;
    border-radius:6px ;
    width: 30%;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}