body{
box-sizing:border-box;
/*background-color: #004170;*/
background-image:url("./images/details.jpg");
background-size:100%;
}
.nav-item a:hover{
      color:cornflowerblue !important;
}

.navimg
{
    width: 100%;
    height: 45px;
}
.nav-item a{
    font-size: 18px;
    font-weight: 500;
     color: #004170 !important;

}

h2{
    color:#020024;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
}
p{
    color:#020024;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
      font-size: 18px;

}
h3{
    color:#020024;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
}

#formcontainer{

    border: 1px solid #ebedef;
    border-radius:6px ;
    width: 35%;
    font-weight:500;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}