body{
box-sizing:border-box;
/*background-color: #004170;*/
background-image:url("./images/login.jpg");
background-size:100%;
}
.nav-item a:hover{
      color:cornflowerblue !important;
}

.navimg
{
    width: 100%;
    height: 45px;
}
.nav-item a{
    font-size: 18px;
    font-weight: 500;
     color: #004170 !important;

}
.head1{
      color:white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;

}

#formcontainer{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 1px solid #ebedef;
    border-radius:6px ;
    width: 30%;
}
h6{
color:white;
}

.td{
color:white;
}
label{
color:white;
}
