<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="movies.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="navbarcontainer">
        <a class="navbar-brand" href=""><img src="./images/movielogo.png" class="navimg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item px-lg-2 px-md-1">
                    <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="container1">
    <h6 class="message mt-3"><span th:text="${message}"/></h6>
    <div class="r1-c1 bg">
        <div class="container  mt-4" align="center">
            <h2><span th:text="${userName}"/></h2>
            <table>
                <tr th:each="movie : ${movieList}">
                    <td class="align-middle" id="movieNames" th:text="${movie.movieName}"></td>
                    <td><a class="btn btn-primary" th:href="@{/movieDetails/{id} (id=${movie.movieId})}" id="button">View
                        More</a>
                    </td>
                    <br>
                </tr>


            </table>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-3 mt-sm-3 mt-md-4 mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="./images/pushpa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-sm-3 mt-md-4 mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="./images/spiderman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-sm-3 mt-md-4 mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="./images/Super_Saranya.jpg" class="card-img-top" alt="...">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-sm-3 mt-md-4 mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="./images/83.jpg" class="card-img-top" alt="...">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>