<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="registerstyle.css">
</head>
<body>

<form action="/register" method="post">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="navbarcontainer">

            <a class="navbar-brand" href=""><img src="./images/movielogo.png" class="navimg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item px-lg-2 px-md-1">
                        <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                    </li>
                    <li class="nav-item px-lg-2 px-md-1">
                        <a class="nav-link active" aria-current="page" href="/register">SIGN UP</a>
                    </li>

                    <li class="nav-item px-lg-2 px-md-1">
                        <a class="nav-link" aria-current="page" href="/login">LOGIN</a>
                    </li>

                </ul>
            </div>


        </div>
    </nav>


    <div align="center">
    <h6 class="mt-3" ><span th:text="${error}"/></h6> <h6><span th:text="${message}"/></h6>
    </div>
    <div class="container mt-2" id="formcontainer" align="center">

        <fieldset>
            <div class="col"><h2 class="head1">Get Started</h2></div>
        <input type="text" name="userName" placeholder="Provide a UserName"  required><br>
        <input type="text" name="name" placeholder="Enter Your Name"  required><br>
        <input type="text" name="age" placeholder="Enter your age" required><br>
        <input type="password" name="password" placeholder="Provide a password" required><br>
        <input type="text" name="address" placeholder="Enter your Address" required><br>
        <input type="number" name="phoneNumber" placeholder="Enter Phone Number"  required><br>
        <input type="submit"   value="Sign up" class="button1">
        </fieldset>
    </div>
</form>
</body>
</html>